<header>
    <nav>
        <li class="menu mobile-menu"><a href="#jump"><img src="/assets/menu.svg" height="24" width="24">Menu</a></li>
{% comment %} op mobile open je hier een fullscreen menu met kopen huren verkopen wat op desktop altijd zichtbaar is in de header {% endcomment %}
        <ul class="menu-item" id=jump>
            <details name=1 class="menu-item"><summary>Kopen</summary><p>Zoek een koopwoning</p><p>Zoek een NVM-aankoopmakelaar</p>Bereken je maandlasten<p>Alles wat je moet weten over kopen<p></p></details>
            <details name=1 class="menu-item"><summary>Huren</summary><p>Zoek een huurwoning</p></details>
            <details name=1 class="menu-item"><summary>Verkopen</summary><p>Zoek een NVM-verkoopmakelaar</p><p>Plaats je huis op Funda</p><p>Alles wat je moet weten over verkopen</p></details>
        </ul>
        <a class="header-logo"><img src="/assets/FDS - Funda Logo.svg" height="35" width="90"></a>
        <a class="header-right header-alignment"><img src="/assets/house.svg" height="24" width="24">Mijn Huis</a>
        <a class="header-right"><img src="/assets/heart.svg" height="24" width="24">Favorieten</a>
        <a  class="header-right"><img src="/assets/avatar.svg" height="24" width="24">Inloggen</a>
    </nav>
</header>