<header>
    <nav>
        <a href="" class="menu mobile-menu" href="#jump"><img src="/assets/menu.svg"  alt="icoon mobiel menu" height="24" width="24">Menu</a>
{% comment %} op mobile open je hier een fullscreen menu met kopen huren verkopen wat op desktop altijd zichtbaar is in de header {% endcomment %}
        <ul class="menu-item" id=jump>
            <details name=1 class="menu-item"><summary>Kopen</summary><p>Zoek een koopwoning</p><p>Zoek een NVM-aankoopmakelaar</p><p>Bereken je maandlasten</p><p>Alles wat je moet weten over kopen</p></details>
            <details name=1 class="menu-item"><summary>Huren</summary><p>Zoek een huurwoning</p></details>
            <details name=1 class="menu-item"><summary>Verkopen</summary><p>Zoek een NVM-verkoopmakelaar</p><p>Plaats je huis op Funda</p><p>Alles wat je moet weten over verkopen</p></details>
        </ul>
        <a href="" class="header-logo"><img src="/assets/FDS - Funda Logo.svg" alt="logo funda" height="35" width="90"></a>
        <a href="" class="header-right header-alignment"><img src="/assets/house.svg" alt="icoon huisje"height="24" width="24">Mijn Huis</a>
        <a href="" class="header-right"><img src="/assets/heart.svg" alt="icoon hartje" height="24" width="24">Favorieten</a>
        <a href="" class="header-right"><img src="/assets/avatar.svg" alt="inloggen" height="24" width="24">Inloggen</a>
    </nav>
</header>