<header>
    <ul>
        <li class="menu"><img src="/assets/menu.svg" height="24" width="24">Menu</li>
{% comment %} op mobile open je hier een fullscreen menu met kopen huren verkopen wat op desktop altijd zichtbaar is in de header {% endcomment %}
        <li class="menu-item">Kopen</li>
        <li class="menu-item">Huren</li>
        <li class="menu-item">Verkopen</li>
        <li class="header-logo"><img src="/assets/FDS - Funda Logo.svg" height="35" width="90"></li>
        <li><img src="/assets/house.svg" height="24" width="24">Mijn Huis</li>
        <li><img src="/assets/heart.svg" height="24" width="24">Favorieten</li>
        <li><img src="/assets/avatar.svg" height="24" width="24">Inloggen</li>
    </ul>
</header>