{% render './partials/head.liquid', title:title %}
{% block head %}
  <!-- Default styles -->
{% endblock %}</head><body class="">
{% comment %} content {% endcomment %}
{% block %}
{% endblock %}</body></html>