/* test */
body{
    /* background-color: red; */
}

 /* https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide#/basics-1/typografie */

@font-face {
    font-family: "ProximaNova";
    src: url("/assets/ProximaNova/ProximaNova-Regular_2607783814[2260].otf") format('opentype');
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin:0;
    padding: 0;
    
    font-family: var(--font-funda);

    --font-funda: 'ProximaNova', sans-serif;
    


    /* https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide#/basics-1/kleur */

    /* primary colors */
    --primary-color-funda-1: #ff9b21;
    --primary-color-funda-2: #6a281c;
    --primary-color-funda-3: #f8f0e6;
    --primary-color-funda-4: #e5f6ff;
    --primary-color-funda-5: #2a8fd8;
    --primary-color-funda-white: #ffffff;

    /* secondary colors */
    --secondary-color-funda-1: #333333;
    --secondary-color-funda-2: #64c1ed;
    --secondary-color-funda-3: #fde9eb;
    --secondary-color-funda-4: #ebf6e3;
    --secondary-color-funda-5: #de737d;
    --secondary-color-funda-6: #599f7e;

    
}

body{
    position:relative;
}

h1{
    color:var(--primary-color-funda-1);
}


/* header */

nav {
    height:60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:1.5em;
    /* justify-content: center; */
    background-color: var(--primary-color-funda-1);
    a{
        margin-left:.5em;
        display:flex;
        flex-direction: column;
        color:var(--primary-color-funda-white);
        text-align: center;
        align-items: center;
    }
    ul{
        display:flex;
        position:absolute;
        top:-100%;
        left:0;
    }
}

@media (width < 550px) {
    nav{
        gap:1em;
    }
}

@media (width < 450px) {
    nav{
        gap:.5em;
    }
    a{
        font-size:0.9em;
    }
}

@media (width <= 759px) {
    nav ul{
        /* position:absolute; */
        z-index:2;
        top: -100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: 0.3s
    }
}

ul:target{
    margin-top:9vh;
    position:absolute;
    transform:translateY(100vh);
    background-color: var(--primary-color-funda-white);
    flex-direction: column;
    align-items: start;
    a{
        color:black;
        
    }
}

.header-alignment{
    margin-left:calc(50vw - 190px);
}
.mobile-menu:checked {
    /* height:calc(100vh - 50px); */
}

@media (width >= 760px) {
    header nav{
        gap:.8em;
        }
    .mobile-menu{
        display: none;
    }
    input{
        display:none;
    }
    .menu-item{
        display:block;
        order:1;
    }
    .header-logo{
        order:0;
        margin-left:1%;
    }
    .header-right{
        order:2;
    }
    .header-alignment {
        margin-left:calc(20px + 10vw);   
    }
    header nav a{
        flex-direction: row;
        gap:0.3em;
    }
}

@media (width >= 1260px) {
    header nav{
        gap:1.5em;
    }
    .header-logo{
        margin-left:calc(30vw - 100px);
    }
    .header-alignment {
        margin-left:calc(22vw - 100px);   
        /* margin-right:5%; */
    }
}