/* test */
body{
    /* background-color: red; */
}

 /* https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide#/basics-1/typografie */

@font-face {
    font-family: "ProximaNova";
    src: url("/assets/ProximaNova/ProximaNova-Regular_2607783814[2260].otf") format('opentype');
}

*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin:0;
    padding: 0;
    
    font-family: var(--font-funda);

    --font-funda: 'ProximaNova', sans-serif;
    


    /* https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide#/basics-1/kleur */

    /* primary colors */
    --primary-color-funda-1: #ff9b21;
    --primary-color-funda-2: #6a281c;
    --primary-color-funda-3: #f8f0e6;
    --primary-color-funda-4: #e5f6ff;
    --primary-color-funda-5: #2a8fd8;
    --primary-color-funda-white: #ffffff;

    /* secondary colors */
    --secondary-color-funda-1: #333333;
    --secondary-color-funda-2: #64c1ed;
    --secondary-color-funda-3: #fde9eb;
    --secondary-color-funda-4: #ebf6e3;
    --secondary-color-funda-5: #de737d;
    --secondary-color-funda-6: #599f7e;

    
}

h1{
    color:var(--primary-color-funda-1);
}


/* header */

header ul{
    height:60px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:2em;
    /* justify-content: center; */
    background-color: var(--primary-color-funda-1);
    li{
        margin-left:.5em;
        display:flex;
        flex-direction: column;
        color:var(--primary-color-funda-white);
        text-align: center;
        align-items: center;
    }
}

@media (width < 550px) {
    header ul{
        gap:1em;
    }
}

@media (width < 450px) {
    header ul{
        gap:.5em;
    }
    li {
        font-size:0.9em;
    }
}

.menu-item{
    display:none;
}

@media (width > 760px) {
    .menu{
        display:none;
    }
    .menu-item{
        display:block;
        order:2;
    }
    .header-logo{
        order:0;
    }
}